variables:
  COVERAGE_DIRECTORY: "cpxio"
  TEST_DIRECTORY: "tests/unit_tests"

include:
  - project: 'festo-research/electric-automation/festo-templates'
    ref: 'v1.1.0'
    file: '/gitlab-ci-python.yml'
  - project: 'renovate-bot/renovate-runner'
    file: '/templates/renovate.gitlab-ci.yml'

# adjust before_script for unit tests to install cli and dev dependencies
unit-tests:
  before_script:
    - python -m pip install '.[cli,dev]'
