variables:
  COVERAGE_DIRECTORY: "cpxio"
  TEST_DIRECTORY: "tests/unit_tests"

image: "python:3.10-trixie"

include:
  - project: 'festo-research/electric-automation/festo-templates'
    ref: 'main'
    file: '/gitlab-ci-python.yml'
  - project: 'renovate-bot/renovate-runner'
    file: '/templates/renovate.gitlab-ci.yml'

