.coverage
*/__pycache__
build/*
.eggs/*
*.egg-info/*
*.pyc
doc/build/*
doc/source/modules.rst
doc/source/cpx_io*.rst
.vscode/*
src/festo_cpx_io.egg-info/*
venv
.venv
.venv39
coverage.xml
festo-cpx-io.code-workspace
