.coverage
*/__pycache__
build/*
.eggs/*
*.egg-info/*
*.pyc
docs/build/*
docs/source/modules.rst
.vscode/*
src/festo_cpx_io.egg-info/*
venv
.venv
coverage.xml
docs/source/cpx_io*.rst
festo-cpx-io.code-workspace
